{% extends 'page/page_base.html' %}

{% block content %}
    <h1>
        <a class="navbar-brand mr-4" href="{% url 'blog_home' %}">
            Blogs - 博客
        </a>
    </h1>
    <ol>
        <li>
            <p>LinkedIn URL
                <a class="navbar-brand mr-4" href= "https://www.linkedin.com/in/chen-qian-dan">
                    www.linkedin.com/in/chen-qian-dan
                </a>
            </p>
        </li>
        <li>
            <p>GitHub:
                <a class="navbar-brand mr-4" href= "https://github.com/chen-qian-dan">
                    https://github.com/chen-qian-dan
                </a>
            </p>
        </li>
        <li>
            <p>Website (Python Django AWS):
                <a class="navbar-brand mr-4" href= "https://github.com/chen-qian-dan/www.leetchee.com_20200701Wed">
                    https://github.com/chen-qian-dan/www.leetchee.com_20200701Wed
                </a>
            </p>
        </li>
        <li>
            <p>ML Project: decayed flooring detection: 
                <h6>(presentation)</h6>
                <a class="navbar-brand mr-4" href= "https://www.youtube.com/watch?v=qi5tV7Rawss">
                    https://www.youtube.com/watch?v=qi5tV7Rawss
                </a>
    
                <h6>(Jupiter notebook source code)</h6>
                <a class="navbar-brand mr-4" href= "https://github.com/chen-qian-dan/QC_Flooring/blob/master/Copy_of_FlooringV4.ipynb">
                    https://github.com/chen-qian-dan/QC_Flooring/blob/master/Copy_of_FlooringV4.ipynb
                </a>
            </p>
        </li>
        <li>
            <p>ML project: credit scoring
                <a class="navbar-brand mr-4" href= "https://github.com/chen-qian-dan/Pro_credit-scoring/blob/master/credit%20scoring.ipynb">
                    https://github.com/chen-qian-dan/Pro_credit-scoring/blob/master/credit%20scoring.ipynb
                </a>
            </p>
        </li>
        <li>
            <p>Publish on ECCV:
                <a class="navbar-brand mr-4" href= "https://cs.adelaide.edu.au/~carneiro/publications/face_composition_visart.pdf">
                    https://cs.adelaide.edu.au/~carneiro/publications/face_composition_visart.pdf
                </a>
            </p>
        </li>
        <li>
            <p>Robot navigation project
                <a class="navbar-brand mr-4" href= "https://www.youtube.com/watch?v=vtP0n1W_pRg">
                    https://www.youtube.com/watch?v=vtP0n1W_pRg
                </a>
            </p>
        </li>
    </ol>
{% endblock %}

